<html>
<head>

<link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}less/style.less" />

<link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}less/bootstrap/bootstrap.less" />

<script src="{{ STATIC_URL }}less/less-1.7.0.min.js"></script>

</head>

<body>
{% block full_page %}
{% endblock full_page %}

</body>
</html>