{% extends "base.html" %}

{% block full_page %}


{% block header %}
<header class="fn_header">
<a href="">
<img alt="findnav logo" src="{{ STATIC_URL }}images/findnavlogo.png">
</a>

</header>
{% endblock header %}

{% block main_page %}
<div>

</div>
{% endblock main_page %}
{% endblock full_page %}